<div class="page-content my-3 p-3 bg-white rounded box-shadow">
    <h1 class="pb-2 mb-4">About</h1>
    <p>
        Hitmanstat.us is not affiliated with IO Interactive or Warner Bros. Home Entertainment Inc. Hitmanstat.us is only maintained by a Hitman fan. However, all services informations shown here come from an official API kindly provided by IOI for this website (thank you to entire online team).
    </p>
    <p>
        This website allows you to have a real-time overview of HITMAN&trade; services. You can see current outages, high load and maintenance periods. This might be useful to know if the connectivity issues come from your side or not. You can also check the reports of other players, in real time on the home page, who might be in the same situation as you.
    </p>
    <p>
        Remember that Hitmanstat.us can only detect internal issues, if any outage comes from your LAN, your ISP or from a regional network issue, this website will not be able to give you any information about that.
    </p>
    <h4 class="pb-3 mb-4">Technologies used</h4>
    <p>Hitmanstat.us has been designed to serve a large number of visitors during maintenance events, major outages or release of a new season, using common techniques and best practices that aim to improve the performance.</p>
    <h6 class="mb-4">Main libraires & softwares</h6>
    <div class="media">
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">ASP.NET Core</strong>
            ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Azure</strong>
            Azure is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through Microsoft-managed data centers.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">SQL Server</strong>
            Microsoft SQL Server is a relational database management system developed by Microsoft.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Cloudflare</strong>
            Cloudflare is a web infrastructure, providing content delivery network services, DDoS mitigation, Internet security, and distributed domain name server services.
        </p>
    </div>
    <div class="media pt-3">
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Gandi</strong>
            Gandi is a French company providing domain name registration, web hosting, and related services.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Bootstrap</strong>
            Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Mithril.js</strong>
            Mithril is a modern client-side JavaScript framework for building Single Page Applications.
        </p>
        <p class="media-body pb-3 mb-0 small">
            <strong class="d-block text-gray-dark">Apex Charts</strong>
            ApexCharts is an open-source modern charting library that helps developers to create beautiful and interactive visualizations for web pages.
        </p>
    </div>
    <h4 class="pb-2 mb-4">Sources & author</h4>
    <p>Hitmanstat.us sources are available <a href="https://hardware.visualstudio.com/Hitmanstat.us">here</a> and released under the <a href="https://choosealicense.com/licenses/mit/">MIT licence</a>. You can find me on <a href="https://www.hitmanforum.com/t/hitmanstat-us-hitman-services-status/16982">hitmanforum.com</a> as @@hardware.</p>
</div>

@section Scripts {
    <script src="~/js/jquery-bootstrap.min.js" asp-append-version="true"></script>
}