<div class="page-content my-3 p-3 bg-white rounded box-shadow">
    <h1 class="pb-2 mb-4"><i class="fas fa-question-circle"></i> About</h1>
    <p class="text-justify">
        Hitmanstat.us is not affiliated with IO Interactive or Warner Bros. Home Entertainment Inc. Hitmanstat.us is only maintained by a Hitman fan. However, all services informations shown here come from an official API kindly provided by IOI for this website (thank you to entire online team).
    </p>
    <p class="text-justify">
        This website allows you to have a real-time overview of HITMAN&trade; services. You can see current outages, high load and maintenance periods. This might be useful to know if the connectivity issues come from your side or not. You can also check the reports of other players, in real time on the home page, who might be in the same situation as you.
    </p>

    <p>
        <div class="alert alert-secondary text-center alert-report" role="alert">
            The reporting system is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
    </p>
    
    <p class="text-justify">
        Remember that Hitmanstat.us can only detect internal issues. If any outage comes from your local network, your internet provider or from a regional network issue, this website will not be able to give you any information about that.
    </p>
    <h4 class="pb-3 mb-4"><i class="fas fa-microchip"></i> Technologies used</h4>
    <p class="text-justify">Hitmanstat.us has been designed to serve a large number of visitors during maintenance events, major outages or release of a new season, using common techniques and best practices that aim to improve the performance.</p>
    <h5 class="mb-4">PaaS & softwares</h5>
    <div class="media">
        <p class="media-body pb-3 mb-0 ml-1 small">
            <strong class="d-block text-gray-dark"><i class="fas fa-toolbox"></i> ASP.NET Core</strong>
            ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.
        </p>
        <p class="media-body pb-3 mb-0 ml-1 small">
            <strong class="d-block text-gray-dark"><i class="fas fa-server"></i> Azure</strong>
            Azure is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through Microsoft-managed data centers.
        </p>
        <p class="media-body pb-3 mb-0 ml-1 small">
            <strong class="d-block text-gray-dark"><i class="fas fa-database"></i> SQL Server</strong>
            Microsoft SQL Server is a relational database management system developed by Microsoft.
        </p>
        <p class="media-body pb-3 mb-0 ml-1 small">
            <strong class="d-block text-gray-dark"><i class="fas fa-cloud"></i> Cloudflare</strong>
            Cloudflare is a web infrastructure, providing content delivery network services, DDoS mitigation, Internet security, and distributed domain name server services.
        </p>
    </div>
    <h4 class="pb-2 mb-4"><i class="fas fa-user-ninja"></i> Sources & author</h4>
    <p>Hitmanstat.us sources are available <a href="https://github.com/hardware/hitmanstat.us.v2">here</a> and released under the <a href="https://choosealicense.com/licenses/mit/">MIT licence</a>. You can find me on <a href="https://www.hitmanforum.com/t/hitmanstat-us-hitman-services-status/16982">hitmanforum.com</a> as @@hardware.</p>
</div>

@section Scripts {
    <script src="~/js/jquery-bootstrap.min.js" asp-append-version="true"></script>
}