@{
    ViewData["Title"] = "Events";
}

<div class="alert alert-header" role="alert">
    <div class="text-center">
        <h4 class="alert-heading">LATEST DOWN OR MAINTENANCE EVENTS REPORTED</h4>
        <span class="separator"></span>
        <p class="mb-0">Since 7 days ago &nbsp; | &nbsp; <a href="#">Show last month</a></p>
    </div>
</div>

<table class="table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/jquery-bootstrap.min.js" asp-append-version="true"></script>
}