@{
    var recaptchaKey = Environment.GetEnvironmentVariable("RECAPTCHA_PUBLIC_KEY");
}

@section EventsHeader {
    <div class="mb-4" id="backend-error-container"></div>
}

<div class="alert alert-secondary text-center alert-report" role="alert">
    <i class="fas fa-info-circle"></i> If a service isn't working for you, click on the exclamation mark to share your reporting. A significant number of reports may indicate an issue with the game servers. Keep in mind that Hitman's services also rely on Azure's infrastructure and third-party digital distribution  platforms services. If Hitman's servers appear online here but you still have some issues, you can check <a href="https://steamstat.us/">Steam</a>, <a href="https://status.epicgames.com/">Epic Games</a>, <a href="https://status.playstation.com/">PSN</a>, <a href="https://support.xbox.com/en-US/xbox-live-status">Xbox Live</a> and <a href="https://status.azure.com/">Azure</a> status pages to get more informations.
</div>

@Html.AntiForgeryToken()

<div id="services-container"></div>

<h4 class="index-title mb-4">
    <i class="fas fa-chart-bar"></i>
    Issues reported last week
    <small class="text-muted">(based on community reports)</small>
</h4>

<div class="alert-bis alert-secondary text-center alert-report alert-threshold" role="alert">
    A significant problem is detected when the number of reported issues by the community is way above the threshold.
</div>

<div class="mb-4" id="chart"></div>

<h4 class="index-title mb-4">
    <i class="fas fa-map-marker-alt"></i>
    Reports location for the last 24 hours
    <small class="text-muted">(based on community reports)</small>
</h4>

<div class="alert-bis alert-secondary text-center alert-report" role="alert">
    Only reports of players who have agreed to share their location are displayed on this map.
</div>

<div class="mb-5" id="heatmap"></div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@@fingerprintjs/fingerprintjs@3/dist/fp.min.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/mapbox-gl@@2.0.1/dist/mapbox-gl.js"></script>
    <script id="scriptsTag" data-recaptcha-key="@recaptchaKey" src="~/js/scripts.min.js" asp-append-version="true"></script>
}