@section EventsHeader {
    <div id="backend-error-container"></div>
}

<div id="services-container"></div>

@section Scripts {
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
}