@section EventsHeader {
    <div id="backend-error-container"></div>
}

<div class="alert alert-primary" role="alert">
    Website under testing, informations contained here may not represent the actual status of Hitman online services.
</div>

<div id="services-container"></div>

@section Scripts {
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
}