@{
    var recaptchaKey = Environment.GetEnvironmentVariable("RECAPTCHA_PUBLIC_KEY");
}

@section EventsHeader {
    <div class="mb-4" id="backend-error-container"></div>
}

<div class="alert alert-secondary text-center alert-report d-none" id="top-banner" role="alert">
    If a service isn't working for you, click on the exclamation mark to share your reporting. A significant number of reports may indicate an issue with the game servers. Keep in mind that Hitman's services also rely on Azure's infrastructure and third-party digital distribution  platforms services. If Hitman's servers appear online here but you still have some issues, you can check <a href="https://steamstat.us/">Steam</a>, <a href="https://status.epicgames.com/">Epic Games</a>, <a href="https://status.playstation.com/">PSN</a>, <a href="https://support.xbox.com/en-US/xbox-live-status">Xbox Live</a> and <a href="https://status.azure.com/">Azure</a> status pages to get more informations.
    <button type="button" class="btn btn-secondary btn-sm hide-btn" id="hide-top-banner">&times; hide</button>
</div>

@Html.AntiForgeryToken()

<div id="section-btn-group" class="btn-group d-none" role="group">
    <button class="btn btn-dark w-100 section-unselected" type="button" data-toggle="collapse" id="h1-selector" data-target=".h1-section" onclick="this.blur();">
        HITMAN 1
    </button>
    <button class="btn btn-dark w-100 section-unselected" type="button" data-toggle="collapse" id="h2-selector" data-target=".h2-section" onclick="this.blur();">
        HITMAN 2
    </button>
    <button class="btn btn-dark w-100 section-selected" type="button" data-toggle="collapse" id="h3-selector" data-target=".h3-section" onclick="this.blur();">
        HITMAN 3
    </button>
    <button class="btn btn-dark w-100 section-unselected" type="button" data-toggle="collapse" id="ot-selector" data-target=".ot-section" onclick="this.blur();">
        FORUM
    </button>
</div>

@*
<div class="alert alert-warning text-center mt-4" role="alert">
    IO Interactive is investigating account login issues for various players since Hitman 3's release. Stay tuned if you are affected by these issues.
</div>
*@

<div id="services-container" class="d-none"></div>

<div class="card-deck">
    <div class="card">
        <a href="https://profile.hitman.com/">
            <div class="card-img-wrap">
                <div class="ribbon ribbon-top-left"><span>featured</span></div>
                <img class="card-img-top" src="~/images/hitman-3.jpg" alt="Hitman 3 Progression Carryover" asp-append-version="true">
            </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://account.ioi.dk">Progression Carryover</a>
        </div>
    </div>
    <div class="card">
        <a href="https://www.hitmaps.com">
            <div class="card-img-wrap">
                <img class="card-img-top" src="~/images/hitmaps.png" alt="Hitmaps" asp-append-version="true">
            </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://www.hitmaps.com">HITMAPS</a>
        </div>
    </div>
    <div class="card">
        <a href="https://discord.gg/bAFSWUNXbu">
        <div class="card-img-wrap">
            <img class="card-img-top" src="~/images/f7sc.jpg" alt="Frote's speedrun community" asp-append-version="true">
        </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://discord.gg/bAFSWUNXbu">Frote's speedrun community</a>
        </div>
    </div>
</div>

<h4 class="index-title mt-4 mb-4">
    <i class="fas fa-chart-bar"></i>
    Issues reported last week
</h4>

<div class="alert-bis alert-secondary text-center alert-report alert-threshold" role="alert">
    A significant problem is detected when the number of reported issues by the community is way above the threshold.
</div>

<div class="mb-4" id="chart"></div>

<h4 class="index-title mt-4 mb-4">
    <i class="fas fa-map-marker-alt"></i>
    Live outage map
</h4>

<div class="card mb-5">
    <img class="card-img" src="~/images/map.jpg" alt="Live outage map" asp-append-version="true">
    <div class="card-img-overlay d-flex">
        <a class="align-self-center mx-auto" asp-controller="Home" asp-action="Map">
            <div class="btn btn-outline-warning my-5 align-self-center">Open Live Outage Map</div>
        </a>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@@fingerprintjs/fingerprintjs@3/dist/fp.min.js" async defer></script>
    <script id="scriptsTag" data-recaptcha-key="@recaptchaKey" src="~/js/scripts.index.min.js" asp-append-version="true"></script>
}