<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-barcode"></i> HITMAN Status</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="toggleNight()" id="night-link" href="#">Night Mode</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://hitman.com/">Official website</a>
                        <a class="dropdown-item" href="https://www.ioi.dk/">IO Interactive Blog</a>
                        <a class="dropdown-item" href="https://www.hitmanforum.com/">Forums</a>
                        <a class="dropdown-item" href="https://www.reddit.com/r/HiTMAN/">Reddit</a>
                        <a class="dropdown-item" href="https://www.hitmaps.com/">Interactive maps</a>
                        <a class="dropdown-item" href="https://hitman-feedback.herokuapp.com/">Feedback</a>
                        <a class="dropdown-item" href="https://story.hitmanstat.us/">Season 1 story</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text feedback-button">
                <a href="https://hitman-feedback.herokuapp.com/" data-toggle="tooltip" data-placement="bottom" data-original-title="Visit HITMAN 2 Feedback website" class="btn btn-danger btn-sm mr-3"><i class="fas fa-comments"></i> Feedback</a>
            </span>
            @if (Context.Request.Path == "/")
            {
                <span class="navbar-text">
                    Refreshing in <span id="next-refresh">?</span> seconds.
                </span>
            }
        </div>
    </div>
</nav>