@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-header" role="alert">
    <div class="text-center">
        <h4 class="alert-heading">Error</h4>
        <span class="separator"></span>
        <p class="mb-0">An error occurred while processing your request.</p>
        @if (Model.ShowRequestId)
        {
            <small>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </small>
        }
    </div>
</div>
