@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-header alert-header-main mt-5" role="alert">
    <div class="text-center">
        <h4 class="alert-heading">ERROR</h4>
        <span class="separator"></span>
        <p class="mb-0">An error occurred while processing your request. Please try again. If the problem persists, let us know.</p>
        <p>
            @if (Model.ShowErrorCode)
            {
                <strong>Error Code:</strong> <code>@Model.ErrorCode</code>
            }
            @if (Model.ShowRequestId)
            {
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            }
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-bootstrap.min.js" asp-append-version="true"></script>
}